---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home" description="Home page description">
  <h1>Home Page</h1>
</MainLayout>

<style>
  h1 {
    color: blueviolet;
  }
</style>
